[package]
name = "proximity-sort"
version = "1.0.3"

readme = "README.md"
description = "Simple command-line utility for sorting inputs by proximity to a path argument"
authors = ["Jon Gjengset <jon@thesquareplanet.com>"]

homepage = "https://github.com/jonhoo/proximity-sort"
repository = "https://github.com/jonhoo/proximity-sort.git"

keywords = ["cli", "pipe", "filter", "utility"]
categories = ["command-line-utilities"]

license = "MIT/Apache-2.0"

[badges]
travis-ci = { repository = "jonhoo/proximity-sort" }
maintenance = { status = "passively-maintained" }

[dependencies]
clap = "2.32"
